<div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#897efc">

    <table role="presentation" style="border-collapse:collapse;min-width:100%;width:100%!important;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td width="100%" height="53" bgcolor="#eee" style="border-top-left-radius: 20px; border-top-right-radius: 20px; padding-top: 20px;">
                    
                    <table role="presentation" class="m_-6186904992287805515content" style="border-collapse:collapse;max-width:580px;width:100%!important; text-align: center!important;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td width="10" valign="middle" height="10"></td>
                                <td>
                            
                                    <table role="presentation" style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <span style="font-family:Helvetica,Arial,sans-serif;font-weight:700;text-decoration:none;vertical-align:top;display:inline-block; margin-bottom: 20px;">📁 <a href="#" style="text-decoration: none; color:#333">FinFolder</a></span>
                                            </tr>
                                        </tbody>
                                    </table>
                            
                                </td>
                                <td width="10" valign="middle" height="10"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table role="presentation" style="border-collapse:collapse;max-width:580px; border-radius: 8px;" bgcolor="#897efc" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            
                            <tr>
                                <td width="40" valign="middle" style="border-radius: 8px; background: linear-gradient(#95D8F7, #4491FF);">
                                    <table role="presentation" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            
                                            <tr>
                                                <td style="font-size:25px;line-height:1.315789474; padding-left:10px; padding-top: 20px;">
                                                    <span style="font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#fff;text-decoration:none;vertical-align:top;display:inline-block; margin-bottom: 10px;">Смена пароля </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;line-height:1.315789474; padding-left:10px; padding-bottom: 10px;">
                                                    <span style="font-family:Helvetica,Arial,sans-serif;font-weight:100;color:#fff;text-decoration:none;vertical-align:top;display:inline-block; margin-bottom: 10px;">Вы запросили изменение пароля на сервисе FinFolder</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
          
      
                    <table role="presentation" class="m_-6186904992287805515content" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td width="10" valign="middle" height="10"></td>
                                <td>
                            
                                    <table role="presentation" style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                        <td width="100%" height="10" bgcolor="#fff"></td>
                                        </tr>
                                    </tbody></table>
                            
                                </td>
                                <td width="10" valign="middle" height="10"></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    
    

    <table role="presentation" style="border-collapse:collapse;min-width:100%;width:100%!important;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>

                <td width="100%" height="53" bgcolor="#eee" style="padding-top: 20px;">      
                  
                    <table role="presentation" class="m_-6186904992287805515content" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            
                            <tr>
                                <td width="10" valign="middle"><br></td>
                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.315789474;max-width:560px; color: #b1b4b6">
                            
                                <p style="Margin:0 0 20px 0;font-size:16px;line-height:25px;color:#646464">Здравствуйте, null 🙂</p>
                                <p style="Margin:0 0 20px 0;font-size:16px;line-height:25px;color:#646464">🔐 Для смены пароля перейдите пожалуйста по ссылке: </p>
                                <blockquote style="Margin:0 0 20px 0;border-left:4px solid #32087a;padding:15px 0 0.1px 15px;font-size:19px;line-height:25px; border-radius: 4px;">
                                    <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#fff"> 
                                        <a href="http://localhost:8080/api/v1/registration/recovery?token=84090c59-27c4-4cc0-91f9-8ed3ed03015e" style="background:#DEDDF0;border-color:#DEDDF0;border-radius:50px;border-style:solid;border-width:10px 20px 10px 20px;color:#333;display:inline-block;font-family:'arial' , 'helvetica neue' , 'helvetica' , sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:22px;text-align:center;text-decoration-line:none !important;width:auto" >Изменить пароль</a> 
                                    </p>
                                </blockquote>
                                <p>❕Срок действия ссылки истекает через 15 минут. Если Вы не меняли пароль своего аккаунта, проигнорируйте это сообщение.</p>
                                <p>❔Если Вам нужна помощь для смены пароля, обратитесь в Службу Поддержки</p>        
                            </td>
                            <td width="10" valign="middle"><br></td>
                            </tr>
                            <tr>
                                <td height="30"><br></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

        </tbody>
        
    </table>


    
    <table role="presentation" style="border-collapse:collapse;min-width:100%;width:100%!important;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>

                <td width="100%" height="53" bgcolor="#eee" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">      
      
                    <table role="presentation" class="m_-6186904992287805515content" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="10" valign="middle" height="10"></td>
                            <td>
                                <table role="presentation" style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td width="100%" height="2" bgcolor="#646464"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="10" valign="middle" height="10"></td>
                        </tr>
                        </tbody>
                     </table>
            
            
            
                    <table role="presentation" class="m_-6186904992287805515content" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td height="30"><br></td>
                            </tr>
                            <tr>
                                <td width="10" valign="middle"><br></td>
                                
                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.315789474;max-width:560px; color: #b1b4b6">
                                
                                    <p style="Margin:0 0 20px 0;font-size:14px;line-height:25px;color:#333">
                                        🔎 Вы получили это письмо, потому что прошли регистрацию на сайте finfolder.ru.
                                        Ознакомиться с пользовательским соглашением можно по 
                                        <a href="#" style="color: #333;">ссылке</a>.
                                    </p>

                                    <p style="Margin:0 0 20px 0;font-size:14px;line-height:25px;color:#333"> 
                                        <a href="http://localhost:8080/api/v1/registration/recovery?token=84090c59-27c4-4cc0-91f9-8ed3ed03015e" style="color: #333;">Отписаться от рассылки</a> 
                                    </p>

                                    Успешного использования сервиса для учета финансовых операций 👍 <a href="#" style="color: #b1b4b6;">finfolder.ru</a>  
                                    <span>С уважением, Служба Поддержки FF. </span>    
                                </td>

                                <td width="10" valign="middle"><br></td>
                            </tr>
                            <tr>
                                <td height="30"><br></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

        </tbody>

    </table>

</div>
    